.wrapper-numbers__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
}

.wrapper-numbers__content div:nth-child(10) {
	grid-column: 1 / span 2;
	grid-row: 4;
}
