.display__content {
	background-color: #f3f4f6;
	width: 232px;
	box-sizing: border-box;
	height: 52px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 8px 4px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	cursor: pointer;
}
