.wrapper-switcher {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center;
	position: absolute;
	width: 243px;
	height: 38px;
	top: -70px;
	background: #f3f4f6;
	border-radius: 6px;
	padding: 1px;
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}

.wrapper-switcher div {
	width: 100%;
	height: 36px;
	display: grid;
	grid-template-columns: repeat(2, 0fr);
	grid-template-rows: 1fr;
	place-content: center;
	place-items: center;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-radius: 5px;
}

.active {
	background: #ffffff;
	border: 1px solid #e2e3e5;
}

.active svg * {
	stroke: #5d5fef;
}

.wrapper-switcher svg {
	margin-right: 12px;
}
